.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.mdl-layout__header-row{
  width:100%;
  padding:20px;
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
	height:1px;
    background:#fff;
    border:1px solid rgb(188, 188, 188);
}

.mdl-layout__header{
	background:#00745e;
}

.mdl-layout__tab-bar{
	background:#00745e;
}

.material-icons{
	font-size:14px;
}

.mdl-badge[data-badge]:after{
	background:#fff;
	color:#00745e;
}

table{
	width: 100%;
}

table tr:hover{
	opacity: 0.7;
	cursor: pointer;
}

.contact_img{
	height: 60px;
	width: 60px;
	border-radius: 60px;
	padding: 5px;
}

.imgDiv{
	width: 30%;
}

.detailsDiv{
	width: 70%;
	border-bottom: 0.7px solid #d3d3d3; 
}

.name{
	font-size: 18px;
	font-weight: bold;
}

.device{
	float: right;
	color: gray;
}

.status{
	color: gray;
}